body {
    background-image: url(sticking-plaster.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#headerpara {
    font-style: italic;
}

header {
    text-align: center;
    margin-top: 5%;
    font-size: xx-large;
}

#form {
    background-color: rgba(98, 202, 195, 0.6);
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;

}

#form1head {
    color: red;
    font-size: 35px;
}

#name {
    padding: 2px;
}

.formpart {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.control {
    display: block;
    width: 90%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.user-experience,
.usercheckbox {
    display: inline-block;
    margin-right: 0.65rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

#comments {
    height: 120px;
    width: 90%;
    padding: 0.6rem;
    resize: vertical;
    border-radius: 1rem;
    border: 1px solid #ced4da;
}

.button-group {
    height: 30px;
    width: 30%;
    padding: 1px;
    background: yellow;
    color: inherit;
    font-size: medium;
    border-radius: 8px;
    cursor: pointer;

}

footer {
    font-style: italic;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}